<%- include ('./includes/head.ejs')%>
    <%- include ('./includes/navbar.ejs')%>
        <div class="title">
            <h2 >Xin Chào <%=staff.name %> !!!</h3>                
        </div>
        </div>
        <%- include ('./includes/end.ejs')%>